/* Обнуляющие теги */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ------------------------------------------------------------------ */

html {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.index_hat {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1175px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.service_hat {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1192px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.contacts_hat {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1192px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.logo_nav img {
  margin: 10px 10px 10px 125px;
}

.nav_list {
  display: flex;
  padding-left: 85px;
}

.nav_a {
  color: black;
}

.nav_list .nav_item .nav_a {
  padding: 10px 20px 10px 30px;
  font-size: 21px;
}

.nav_list .nav_item .nav_a:visited {
  color: black;
}

.nav_list .nav_item .nav_a:hover {
  color: rgb(121, 117, 117);
}

.nav_list .nav_item .nav_a:focus {
  color: rgb(223, 217, 217);
}

.main {
  background-size: cover;
  height: 700px;
  width: 1600px;
  margin: 0 auto;
  padding-top: 50px;
}

.main_info {
  display: inline-block;
  padding-top: 100px;
  padding-left: 200px;
  width: 790px;
  font-size: 50px;
}

.main_logo {
  display: inline-block;
  margin-left: 100px;
  width: 700px;
  height: 450px;
}

.main_list {
  display: inline-block;
}

.main_item {
  display: inline-block;
  padding: 70px 37px 10px 200px;
  font-size: 18px;
}

.minilogo {
  width: 25px;
}

.help {
  margin: auto;
  width: 100%;
  height: 450px;
  background-image: url(/png/background_help.jpg);
  
}

.help_h2 {
  color: white;
  margin-left: 350px;
  width: 900px;
  padding-top: 55px;
  font-size: 27px;
}

.help_list {
  display: inline-block;
  background-color: white;
  width: 1245px;
  margin-left: 343px;
  margin-right: 320px;
  margin-top: 40px;
  padding-top: 20px;
}

.help_item {
  display: inline-block;
  width: 407px;
  padding-top: 15px;
  height: 100px;
  padding-left: 130px;
}

.help_p_1 {
  font-size: 15px;
  font-weight: bold;
  padding-left: 55px;
}

.help_p_1::before {
  display: block;
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: black;
  left: 496px;
  top: 954px;
}

.help_p_2 {
  font-size: 15px;
  font-weight: bold;
  padding-left: 55px;
}

.help_p_2::before {
  display: block;
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: black;
  left: 906px;
  top: 954px;
}

.help_p_3 {
  font-size: 15px;
  font-weight: bold;
  padding-left: 55px;
}

.help_p_3::before {
  display: block;
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: black;
  left: 1316px;
  top: 954px;
}

.help_p_4 {
  font-size: 15px;
  font-weight: bold;
  padding-left: 55px;
}

.help_p_4::before {
  display: block;
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: black;
  left: 496px;
  top: 1054px;
}

.help_p_5 {
  font-size: 15px;
  font-weight: bold;
  padding-left: 55px;
}

.help_p_5::before {
  display: block;
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: black;
  left: 906px;
  top: 1054px;
}

.help_p_6 {
  font-size: 15px;
  font-weight: bold;
  padding-left: 55px;
}

.help_p_6::before {
  display: block;
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: black;
  left: 1316px;
  top: 1054px;
}

.help_h3 {
  font-size: 13px;
  font-weight: 500;
  padding-top: 5px;
  padding-left: 22px;
}

.pluses_question {
  font-size: 20px;
  padding-left: 100px;
}

.pluses {
  height: 700px;
  margin: 0 auto;
  width: 1400px;
  padding-top: 50px;
}

.pluses_list {
  padding-left: 80px;
  display: inline-block;
}

.pluses_item {
  display: inline-block;
  background: white;
  width: 400px;
  height: 250px;
  margin: 10px 10px;
  font-size: 21px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.4);
}

.pluses_item:hover {
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.9);
}

.pluses_img {
  margin: 20px 0px 0px 180px;
}

.pluses_h4_1 {
  padding: 20px 0px 0px 110px;
}

.pluses_h4_1::after {
  margin: 15px 200px 20px 75px;
  display: block;
  content: "";
  background-color: black;
  width: 25px;
  height: 2px;
}

.pluses_h4_2 {
  padding: 20px 0px 0px 145px;
}

.pluses_h4_2::after {
  margin: 15px 200px 20px 45px;
  display: block;
  content: "";
  background-color: black;
  width: 25px;
  height: 2px;
}

.pluses_h4_3 {
  padding: 20px 0px 0px 90px;
}

.pluses_h4_3::after {
  margin: 15px 200px 20px 100px;
  display: block;
  content: "";
  background-color: black;
  width: 25px;
  height: 2px;
}

.pluses_h4_4 {
  padding: 20px 0px 0px 130px;
}

.pluses_h4_4::after {
  margin: 15px 200px 20px 58px;
  display: block;
  content: "";
  background-color: black;
  width: 25px;
  height: 2px;
}

.pluses_h4_5 {
  padding: 20px 0px 0px 120px;
}

.pluses_h4_5::after {
  margin: 15px 200px 20px 65px;
  display: block;
  content: "";
  background-color: black;
  width: 25px;
  height: 2px;
}

.pluses_h4_6 {
  padding: 20px 0px 0px 50px;
}

.pluses_h4_6::after {
  margin: 15px 200px 20px 140px;
  display: block;
  content: "";
  background-color: black;
  width: 25px;
  height: 2px;
}

.pluses_p_1 {
  color: #858585;
  line-height: 2.083;
  text-align: center;
  width: 316px;
  font-size: 15px;
  margin: auto;
}

.pluses_p_2 {
  color: #858585;
  line-height: 2.083;
  text-align: center;
  width: 316px;
  font-size: 15px;
  margin: auto;
}

.pluses_p_3 {
  color: #858585;
  line-height: 2.083;
  text-align: center;
  width: 316px;
  font-size: 15px;
  margin: auto;
}

.pluses_p_4 {
  color: #858585;
  line-height: 2.083;
  text-align: center;
  width: 316px;
  font-size: 15px;
  margin: auto;
}

.pluses_p_5 {
  color: #858585;
  line-height: 2.083;
  text-align: center;
  width: 316px;
  font-size: 15px;
  margin: auto;
}

.pluses_p_6 {
  color: #858585;
  line-height: 2.083;
  text-align: center;
  width: 316px;
  font-size: 15px;
  margin: auto;
}

.section-g {
position: relative;
height: 600px;
}
.content-g {
  margin: 0 auto;
}
.slider{
    overflow: hidden;    
}
.middle{
    position: absolute;
    top: -32.5%;
    left: 910px;
    transform: translate(-50%, 50%);
}
.navigation{
    position: absolute;
    bottom: 16px;
    left: 622px;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    height: 8px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background-color: rgb(248, 248, 248);
    opacity: .5;
    border-radius: 10px;
    transition: all .4s ease;
}
.bar:hover{
    opacity: 1;
    transform: scale(1.1);
}
input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 400%;
    height: 100%;
    display: flex;
}
.slide {
    width: 25%;
}

.slide ul {
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -25%;
}

#r3:checked ~ .s1 {
    margin-left: -50%;
}

#r4:checked ~ .s1 {
    margin-left: -75%;
}

.reviews {
  height: 700px;
  margin: 0 auto;
  width: 1500px;
  padding-top: 50px;
}

.reviews_h3 {
  padding-left: 612px;
  padding-bottom: 50px;
  font-size: 40px;
}

.reviews_list_1 {
  background-image: url(/auto/1.jpg);
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 10px;
}

.reviews_list_2 {
  background-image: url(/auto/2.jpg);
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 10px;
}

.reviews_list_3 {
  background-image: url(/auto/3.jpg);
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 10px;
}

.reviews_list_4 {
  background-image: url(/auto/4.jpg);
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 10px;
}

.number {
  padding-top: 20px;
  color: white;
  font-size: 15px;
  padding-left: 20px;
}

.reviews_item {
  display: inline-block;
  background-color: white;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: 85px;
}

.reviews_photo {
  margin-left: 125px;
  padding-top: 20px;
}

.reviews_p {
  padding-top: 5px;
  text-align: center
}

.reviews_5 {
  margin-left: 100px;
  padding-top: 10px;
}

.reviews_text {
  line-height: 2.083;
  text-align: center;
  padding-top: 10px;
  font-size: 15px;
  margin: auto;
}

.advice {
width: 1500px;
padding-left: 440px;
}

.advice_p {
  font-size: 40px;
  text-align: center;
}

footer {
  width: 100%;
  margin-top: 100px;
}

.last_block {
  padding-left: 500px;
  padding-bottom: 50px;
  padding-top: 50px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.7);
}

.tabl {
margin-left: 135px;
}

.phone_img {
  margin-left: 80px;
display: inline-block;
}
          
.phone_number {
  display: inline-block;
  font-size: 33px;
  padding-top: 5px;
  padding-left: 10px;
  color: black;
}

.phone_number:visited {
  color: black;
}

.phone_number:hover {
  color: rgb(121, 117, 117);
}

.phone_number:focus {
  color: rgb(223, 217, 217);
}

.end {
  background-color: black;
  padding-bottom: 20px;
  padding-top: 20px;
}

.end_text {
  color: rgb(121, 117, 117);
  padding-top: 5px;
  padding-left: 850px;
}

.service_question {
  font-size: 50px;
  padding-left: 540px;
}

.service {
  height: 700px;
  margin: 0 auto;
  width: 1400px;
  padding-top: 50px;
}

.service_list {
  padding-left: 80px;
  display: inline-block;
}

.service_item {
  display: inline-block;
  background: white;
  width: 611px;
  height: 250px;
  margin: 10px 10px;
  font-size: 21px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.4);
}

.service_item:hover {
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.9);
}

.service_img {
  margin: 20px 0px 0px 280px;
}

.service_h4_1 {
  padding: 20px 0px 0px 0px;
  text-align: center;
}

.service_h4_1::after {
  margin: 15px 200px 20px 287px;
  display: block;
  content: "";
  background-color: black;
  width: 25px;
  height: 2px;
}

.service_h4_2 {
  padding: 20px 0px 0px 0px;
  text-align: center;
}

.service_h4_2::after {
  margin: 15px 200px 20px 287px;
  display: block;
  content: "";
  background-color: black;
  width: 25px;
  height: 2px;
}

.service_h4_3 {
  padding: 20px 0px 0px 0px;
  text-align: center;
}

.service_h4_3::after {
  margin: 15px 200px 20px 287px;
  display: block;
  content: "";
  background-color: black;
  width: 25px;
  height: 2px;
}

.service_h4_4 {
  padding: 20px 0px 0px 0px;
  text-align: center;
}

.service_h4_4::after {
  margin: 15px 200px 20px 287px;
  display: block;
  content: "";
  background-color: black;
  width: 25px;
  height: 2px;
}

.service_p_1 {
  color: #858585;
  line-height: 2.083;
  text-align: center;
  width: 316px;
  font-size: 15px;
  margin: auto;
}

.service_p_2 {
  color: #858585;
  line-height: 2.083;
  text-align: center;
  width: 316px;
  font-size: 15px;
  margin: auto;
}

.service_p_3 {
  color: #858585;
  line-height: 2.083;
  text-align: center;
  width: 316px;
  font-size: 15px;
  margin: auto;
}

.service_p_4 {
  color: #858585;
  line-height: 2.083;
  text-align: center;
  width: 316px;
  font-size: 15px;
  margin: auto;
}

.contacts_main {
  width: 1600px;
  height: 800px;
  padding-top: 50px;
}

.con_block {
  width: 1600px;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
}

.con_question {
padding-left: 795px;
font-size: 45px;
}

.con_contacts {
  display: inline-block;
  height: 250px;
  padding-left: 170px;
  width: 600px;
  font-size: 16px;
  margin: auto;
}

.con_list {
  display: inline-block;
}

.con_item {
padding-bottom: 10px;
display: inline-block;
}

.con_img {
  margin-left: 80px;
  display: inline-block;
}

.con_text {
  display: inline-block;
  padding-top: 17px;
  padding-left: 10px;
  color: black;
}

.con_map {
  display: inline-block;
margin-left: 85px;
  width: 600px;
  height: 603px;
}
